<!DOCTYPE html>
<html lang="en-AU">
<title>CSS Styles</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

/* logo */
logo {
margin-left: 5%;
}

/* webpage header */
.header {
    padding: 5px;
    text-align: left;
}

/* top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333333;
}

.topnav a {
  float: left;
  color: #F2F2F2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #DDD;
  color: black;
}

.topnav a.active {
  background-color: #4682B4;
  color: white;
}

.active {
    background-color: #C0C0C0;
    color: white;
}

body {
    background-color: rgba(192, 192, 192, 0.5);
}
h2 {
    color: #4682B4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
}
p {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}
li {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

/* Different states for links */

a:link {
    color: white; 
    background-color: transparent; 
    text-decoration: none;
}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: green;
    background-color: transparent;
    text-decoration: underline;
}
